div.ellipsis > .show {
  position: absolute;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #00000000;
}

.vox:hover {
  background-color: #2c3e50;
}
