.matrix-container {
  margin: 3%;
}

.matrix {
  display: block;
  margin: auto;
  max-width: 600px;
}

.row-custom {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  justify-content: center;
  align-items: center;
  display: flex;
  border: groove;
  width: 5vw;
  min-width: 4.84vw;
  min-height: 4.84vw;
}

.available {
  background-color: #7dde7d;
}

.taken {
  background-color: #ff5e5ee3;
}

.forbidden {
  background-color: rgb(253, 253, 113);
}

.ooo-space {
  border: none;
}

.floor-legend {
 display: flex;
 width: 170px;
}

.legend {
    width: 100%!important;
    height: 40px!important;
    border: groove;
    justify-content: center;
    align-items: center;
    display: flex;
}

.legend-text {
    width: 183%!important;
}

.l {
    display: flex;
    justify-content: center;
}


@media screen and (max-width: 600px) {
  .matrix-container {
    overflow-y: scroll;
    white-space: nowrap;
  }

  .matrix {
    padding: 100px;
    /* width: 100%; */
    overflow-x: auto;
    display: inline;
    overflow-y: scroll;
  }

  .row-custom {
    display: flex;
    align-items: right;
    justify-content: right;
  }

  .box {
    overflow: auto;
    white-space: nowrap;
    width: 9vw;
    min-width: 8vw;
    min-height: 8vw;
    height: 9vw;
  }
}
