body {
    text-align: center;
}

.login {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

legend {
    padding-top: 10px;
    padding-bottom: 20px;
}
  
.error {
    margin-top: 10px;
    color: #d9534f;
  }